SECRET_KEY = "Ij3sSKhjm6sej4k3VfCHu56ocsYevFmw"
NEXT_PUBLIC_BE_API_URL = http://localhost:8080
NEXT_PUBLIC_IMAGE_PROTOCOL = "http"
NEXT_PUBLIC_IMAGE_HOST = "localhost"
NEXT_PUBLIC_IMAGE_PORT = "8080"
NODE_ENV = "development"
